<div class="kt-portlet">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                Search &amp; Modify Land Record
            </h3>
        </div>
    </div>

    <!--begin::Form-->
    <form class="kt-form">
        <div class="kt-portlet__foot kt-portlet__foot--top">
            <div class="kt-form__actions kt-form__actions--solid">
                <div class="row align-items-center">
                    <div class="col kt-align-left kt-valign-middle">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Enter the LR Number">
                        </div>
                    <!--  <button type="reset" class="btn btn-success">Search</button>-->   
                    </div>
                </div>
            </div>
        </div>
        
        
    </form>

    <!--end::Form-->
</div>