<div class="kt-portlet">
             
    <!-- begin:: Content -->
    
    <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__head kt-portlet__head--lg"  >
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        Pending Land Transfers
                    </h3>
                </div>
                
            </div>
            <div class="kt-portlet__body">
                <!--begin: Datatable -->
                <p>You have no pending Land transfers</p>

    <!--end: Datatable -->
</div>
    </div>

    <!-- end:: Content -->
</div>