<!-- begin:: Header Mobile -->
<div *ngIf="globals.currentUser" id="kt_header_mobile" class="kt-header-mobile  kt-header-mobile--fixed ">
  <div class="kt-header-mobile__logo">
      <a href="#">
          <img alt="Logo" src="./assets/media/logos/logo-2-sm.png" />
      </a>
  </div>
  <div class="kt-header-mobile__toolbar">
      <button class="kt-header-mobile__toolbar-toggler" id="kt_header_mobile_toggler"><span></span></button>
      <button class="kt-header-mobile__toolbar-topbar-toggler" id="kt_header_mobile_topbar_toggler"><i class="flaticon-more-1"></i></button>
  </div>
</div>
<!-- end:: Header Mobile -->

<div class="kt-grid kt-grid--hor kt-grid--root">
<!-- <div *ngIf="globals.currentUser" class="kt-grid kt-grid--hor kt-grid--root"> -->
  <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">






        <!-- begin:: Header -->
        <div id="kt_header" class="kt-header kt-grid__item  kt-header--fixed " data-ktheader-minimize="on">
            <div class="kt-header__top">
              <div class="kt-container ">
                <!-- begin:: Brand -->
                <div class="kt-header__brand   kt-grid__item" id="kt_header_brand">
                  <div class="kt-header__brand-logo">
                    <a href="#">
                      <img alt="Logo" src="./assets/media/logos/logo-2.png" class="kt-header__brand-logo-default" />
                      <img alt="Logo" src="./assets/media/logos/logo-2-sm.png" class="kt-header__brand-logo-sticky" />
                    </a>
                  </div>
                  <!-- <div class="kt-header__brand-nav">
                      <div class="dropdown">
                          <button type="button" *ngIf="globals.currentUser.roles.length>1" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                              Switch Panel
                          </button>
                          <div class="dropdown-menu dropdown-menu-md">
                              <ul class="kt-nav kt-nav--bold kt-nav--md-space">
                                  <li class="kt-nav__item" *ngFor="let role of globals.currentUser.roles; index as i;">
                                      <a [routerLink]="['/admin']" *ngIf="role==1" class="kt-nav__link active">
                                          <span class="kt-nav__link-icon"><i class="flaticon2-user"></i></span>
                                          <span class="kt-nav__link-text">Admin Panel</span>
                                      </a>
                                      <a [routerLink]="['/lands']" *ngIf="role==2" class="kt-nav__link active" href="#">
                                          <span class="kt-nav__link-icon"><i class="flaticon2-user"></i></span>
                                          <span class="kt-nav__link-text">Land Registrar Panel</span>
                                      </a>
                                      <a [routerLink]="['/revenue']" *ngIf="role==3" class="kt-nav__link active" href="#">
                                          <span class="kt-nav__link-icon"><i class="flaticon2-user"></i></span>
                                          <span class="kt-nav__link-text">Revenue Authority Panel</span>
                                      </a>
                                      <a [routerLink]="['/land-owner']" *ngIf="role==4" class="kt-nav__link active" href="#">
                                          <span class="kt-nav__link-icon"><i class="flaticon2-user"></i></span>
                                          <span class="kt-nav__link-text">Land Owner Panel</span>
                                      </a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div> -->
                </div>
                <!-- end:: Brand -->

                <!-- begin:: Header Topbar -->
                <div class="kt-header__topbar">
                  <!--begin: Notifications -->
                  <div class="kt-header__topbar-item dropdown">
                      <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="10px,10px">
                          <span class="kt-header__topbar-icon  kt-pulse kt-pulse--warning">

                              <!--<i class="flaticon2-bell-alarm-symbol"></i>-->
                              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon kt-svg-icon--warning">
                                  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                      <rect id="bound" x="0" y="0" width="24" height="24" />
                                      <path d="M2.56066017,10.6819805 L4.68198052,8.56066017 C5.26776695,7.97487373 6.21751442,7.97487373 6.80330086,8.56066017 L8.9246212,10.6819805 C9.51040764,11.267767 9.51040764,12.2175144 8.9246212,12.8033009 L6.80330086,14.9246212 C6.21751442,15.5104076 5.26776695,15.5104076 4.68198052,14.9246212 L2.56066017,12.8033009 C1.97487373,12.2175144 1.97487373,11.267767 2.56066017,10.6819805 Z M14.5606602,10.6819805 L16.6819805,8.56066017 C17.267767,7.97487373 18.2175144,7.97487373 18.8033009,8.56066017 L20.9246212,10.6819805 C21.5104076,11.267767 21.5104076,12.2175144 20.9246212,12.8033009 L18.8033009,14.9246212 C18.2175144,15.5104076 17.267767,15.5104076 16.6819805,14.9246212 L14.5606602,12.8033009 C13.9748737,12.2175144 13.9748737,11.267767 14.5606602,10.6819805 Z" id="Combined-Shape" fill="#000000" opacity="0.3" />
                                      <path d="M8.56066017,16.6819805 L10.6819805,14.5606602 C11.267767,13.9748737 12.2175144,13.9748737 12.8033009,14.5606602 L14.9246212,16.6819805 C15.5104076,17.267767 15.5104076,18.2175144 14.9246212,18.8033009 L12.8033009,20.9246212 C12.2175144,21.5104076 11.267767,21.5104076 10.6819805,20.9246212 L8.56066017,18.8033009 C7.97487373,18.2175144 7.97487373,17.267767 8.56066017,16.6819805 Z M8.56066017,4.68198052 L10.6819805,2.56066017 C11.267767,1.97487373 12.2175144,1.97487373 12.8033009,2.56066017 L14.9246212,4.68198052 C15.5104076,5.26776695 15.5104076,6.21751442 14.9246212,6.80330086 L12.8033009,8.9246212 C12.2175144,9.51040764 11.267767,9.51040764 10.6819805,8.9246212 L8.56066017,6.80330086 C7.97487373,6.21751442 7.97487373,5.26776695 8.56066017,4.68198052 Z" id="Combined-Shape" fill="#000000" />
                                  </g>
                              </svg> <span class="kt-pulse__ring"></span>
                          </span>
                      </div>
                      <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-xl">
                          <form>

                              <!--begin: Head -->
                              <div class="kt-head kt-head--skin-dark kt-head--fit-x kt-head--fit-b" style="background-image: url(./assets/media/misc/bg-1.jpg)">
                                  <h3 class="kt-head__title">
                                      User Notifications
                                      &nbsp;
                                      <span class="btn btn-success btn-sm btn-bold btn-font-md">23 new</span>
                                  </h3>
                                  <ul class="nav nav-tabs nav-tabs-line nav-tabs-bold nav-tabs-line-3x nav-tabs-line-success kt-notification-item-padding-x" role="tablist">
                                      <li class="nav-item">
                                          <a class="nav-link active show" data-toggle="tab" href="#topbar_notifications_notifications" role="tab" aria-selected="true">Alerts</a>
                                      </li>
                                      <li class="nav-item">
                                          <a class="nav-link" data-toggle="tab" href="#topbar_notifications_events" role="tab" aria-selected="false">Events</a>
                                      </li>
                                      <li class="nav-item">
                                          <a class="nav-link" data-toggle="tab" href="#topbar_notifications_logs" role="tab" aria-selected="false">Logs</a>
                                      </li>
                                  </ul>
                              </div>

                              <!--end: Head -->
                              <div class="tab-content">
                                  <div class="tab-pane active show" id="topbar_notifications_notifications" role="tabpanel">
                                      <div class="kt-notification kt-margin-t-10 kt-margin-b-10 kt-scroll" data-scroll="true" data-height="300" data-mobile-height="200">
                                          <a href="#" class="kt-notification__item">
                                              <div class="kt-notification__item-icon">
                                                  <i class="flaticon2-line-chart kt-font-success"></i>
                                              </div>
                                              <div class="kt-notification__item-details">
                                                  <div class="kt-notification__item-title">
                                                      New order has been received
                                                  </div>
                                                  <div class="kt-notification__item-time">
                                                      2 hrs ago
                                                  </div>
                                              </div>
                                          </a>
                                          <a href="#" class="kt-notification__item">
                                              <div class="kt-notification__item-icon">
                                                  <i class="flaticon2-box-1 kt-font-brand"></i>
                                              </div>
                                              <div class="kt-notification__item-details">
                                                  <div class="kt-notification__item-title">
                                                      New customer is registered
                                                  </div>
                                                  <div class="kt-notification__item-time">
                                                      3 hrs ago
                                                  </div>
                                              </div>
                                          </a>
                                          <a href="#" class="kt-notification__item">
                                              <div class="kt-notification__item-icon">
                                                  <i class="flaticon2-chart2 kt-font-danger"></i>
                                              </div>
                                              <div class="kt-notification__item-details">
                                                  <div class="kt-notification__item-title">
                                                      Application has been approved
                                                  </div>
                                                  <div class="kt-notification__item-time">
                                                      3 hrs ago
                                                  </div>
                                              </div>
                                          </a>
                                          <a href="#" class="kt-notification__item">
                                              <div class="kt-notification__item-icon">
                                                  <i class="flaticon2-image-file kt-font-warning"></i>
                                              </div>
                                              <div class="kt-notification__item-details">
                                                  <div class="kt-notification__item-title">
                                                      New file has been uploaded
                                                  </div>
                                                  <div class="kt-notification__item-time">
                                                      5 hrs ago
                                                  </div>
                                              </div>
                                          </a>
                                          <a href="#" class="kt-notification__item">
                                              <div class="kt-notification__item-icon">
                                                  <i class="flaticon2-bar-chart kt-font-info"></i>
                                              </div>
                                              <div class="kt-notification__item-details">
                                                  <div class="kt-notification__item-title">
                                                      New user feedback received
                                                  </div>
                                                  <div class="kt-notification__item-time">
                                                      8 hrs ago
                                                  </div>
                                              </div>
                                          </a>
                                          <a href="#" class="kt-notification__item">
                                              <div class="kt-notification__item-icon">
                                                  <i class="flaticon2-pie-chart-2 kt-font-success"></i>
                                              </div>
                                              <div class="kt-notification__item-details">
                                                  <div class="kt-notification__item-title">
                                                      System reboot has been successfully completed
                                                  </div>
                                                  <div class="kt-notification__item-time">
                                                      12 hrs ago
                                                  </div>
                                              </div>
                                          </a>
                                          <a href="#" class="kt-notification__item">
                                              <div class="kt-notification__item-icon">
                                                  <i class="flaticon2-favourite kt-font-danger"></i>
                                              </div>
                                              <div class="kt-notification__item-details">
                                                  <div class="kt-notification__item-title">
                                                      New order has been placed
                                                  </div>
                                                  <div class="kt-notification__item-time">
                                                      15 hrs ago
                                                  </div>
                                              </div>
                                          </a>
                                          <a href="#" class="kt-notification__item kt-notification__item--read">
                                              <div class="kt-notification__item-icon">
                                                  <i class="flaticon2-safe kt-font-primary"></i>
                                              </div>
                                              <div class="kt-notification__item-details">
                                                  <div class="kt-notification__item-title">
                                                      Company meeting canceled
                                                  </div>
                                                  <div class="kt-notification__item-time">
                                                      19 hrs ago
                                                  </div>
                                              </div>
                                          </a>
                                          <a href="#" class="kt-notification__item">
                                              <div class="kt-notification__item-icon">
                                                  <i class="flaticon2-psd kt-font-success"></i>
                                              </div>
                                              <div class="kt-notification__item-details">
                                                  <div class="kt-notification__item-title">
                                                      New report has been received
                                                  </div>
                                                  <div class="kt-notification__item-time">
                                                      23 hrs ago
                                                  </div>
                                              </div>
                                          </a>
                                          <a href="#" class="kt-notification__item">
                                              <div class="kt-notification__item-icon">
                                                  <i class="flaticon-download-1 kt-font-danger"></i>
                                              </div>
                                              <div class="kt-notification__item-details">
                                                  <div class="kt-notification__item-title">
                                                      Finance report has been generated
                                                  </div>
                                                  <div class="kt-notification__item-time">
                                                      25 hrs ago
                                                  </div>
                                              </div>
                                          </a>
                                          <a href="#" class="kt-notification__item">
                                              <div class="kt-notification__item-icon">
                                                  <i class="flaticon-security kt-font-warning"></i>
                                              </div>
                                              <div class="kt-notification__item-details">
                                                  <div class="kt-notification__item-title">
                                                      New customer comment recieved
                                                  </div>
                                                  <div class="kt-notification__item-time">
                                                      2 days ago
                                                  </div>
                                              </div>
                                          </a>
                                          <a href="#" class="kt-notification__item">
                                              <div class="kt-notification__item-icon">
                                                  <i class="flaticon2-pie-chart kt-font-success"></i>
                                              </div>
                                              <div class="kt-notification__item-details">
                                                  <div class="kt-notification__item-title">
                                                      New customer is registered
                                                  </div>
                                                  <div class="kt-notification__item-time">
                                                      3 days ago
                                                  </div>
                                              </div>
                                          </a>
                                      </div>
                                  </div>
                                  <div class="tab-pane" id="topbar_notifications_events" role="tabpanel">
                                      <div class="kt-notification kt-margin-t-10 kt-margin-b-10 kt-scroll" data-scroll="true" data-height="300" data-mobile-height="200">
                                          <a href="#" class="kt-notification__item">
                                              <div class="kt-notification__item-icon">
                                                  <i class="flaticon2-psd kt-font-success"></i>
                                              </div>
                                              <div class="kt-notification__item-details">
                                                  <div class="kt-notification__item-title">
                                                      New report has been received
                                                  </div>
                                                  <div class="kt-notification__item-time">
                                                      23 hrs ago
                                                  </div>
                                              </div>
                                          </a>
                                          <a href="#" class="kt-notification__item">
                                              <div class="kt-notification__item-icon">
                                                  <i class="flaticon-download-1 kt-font-danger"></i>
                                              </div>
                                              <div class="kt-notification__item-details">
                                                  <div class="kt-notification__item-title">
                                                      Finance report has been generated
                                                  </div>
                                                  <div class="kt-notification__item-time">
                                                      25 hrs ago
                                                  </div>
                                              </div>
                                          </a>
                                          <a href="#" class="kt-notification__item">
                                              <div class="kt-notification__item-icon">
                                                  <i class="flaticon2-line-chart kt-font-success"></i>
                                              </div>
                                              <div class="kt-notification__item-details">
                                                  <div class="kt-notification__item-title">
                                                      New order has been received
                                                  </div>
                                                  <div class="kt-notification__item-time">
                                                      2 hrs ago
                                                  </div>
                                              </div>
                                          </a>
                                          <a href="#" class="kt-notification__item">
                                              <div class="kt-notification__item-icon">
                                                  <i class="flaticon2-box-1 kt-font-brand"></i>
                                              </div>
                                              <div class="kt-notification__item-details">
                                                  <div class="kt-notification__item-title">
                                                      New customer is registered
                                                  </div>
                                                  <div class="kt-notification__item-time">
                                                      3 hrs ago
                                                  </div>
                                              </div>
                                          </a>
                                          <a href="#" class="kt-notification__item">
                                              <div class="kt-notification__item-icon">
                                                  <i class="flaticon2-chart2 kt-font-danger"></i>
                                              </div>
                                              <div class="kt-notification__item-details">
                                                  <div class="kt-notification__item-title">
                                                      Application has been approved
                                                  </div>
                                                  <div class="kt-notification__item-time">
                                                      3 hrs ago
                                                  </div>
                                              </div>
                                          </a>
                                          <a href="#" class="kt-notification__item">
                                              <div class="kt-notification__item-icon">
                                                  <i class="flaticon2-image-file kt-font-warning"></i>
                                              </div>
                                              <div class="kt-notification__item-details">
                                                  <div class="kt-notification__item-title">
                                                      New file has been uploaded
                                                  </div>
                                                  <div class="kt-notification__item-time">
                                                      5 hrs ago
                                                  </div>
                                              </div>
                                          </a>
                                          <a href="#" class="kt-notification__item">
                                              <div class="kt-notification__item-icon">
                                                  <i class="flaticon2-bar-chart kt-font-info"></i>
                                              </div>
                                              <div class="kt-notification__item-details">
                                                  <div class="kt-notification__item-title">
                                                      New user feedback received
                                                  </div>
                                                  <div class="kt-notification__item-time">
                                                      8 hrs ago
                                                  </div>
                                              </div>
                                          </a>
                                          <a href="#" class="kt-notification__item">
                                              <div class="kt-notification__item-icon">
                                                  <i class="flaticon2-pie-chart-2 kt-font-success"></i>
                                              </div>
                                              <div class="kt-notification__item-details">
                                                  <div class="kt-notification__item-title">
                                                      System reboot has been successfully completed
                                                  </div>
                                                  <div class="kt-notification__item-time">
                                                      12 hrs ago
                                                  </div>
                                              </div>
                                          </a>
                                          <a href="#" class="kt-notification__item">
                                              <div class="kt-notification__item-icon">
                                                  <i class="flaticon2-favourite kt-font-brand"></i>
                                              </div>
                                              <div class="kt-notification__item-details">
                                                  <div class="kt-notification__item-title">
                                                      New order has been placed
                                                  </div>
                                                  <div class="kt-notification__item-time">
                                                      15 hrs ago
                                                  </div>
                                              </div>
                                          </a>
                                          <a href="#" class="kt-notification__item kt-notification__item--read">
                                              <div class="kt-notification__item-icon">
                                                  <i class="flaticon2-safe kt-font-primary"></i>
                                              </div>
                                              <div class="kt-notification__item-details">
                                                  <div class="kt-notification__item-title">
                                                      Company meeting canceled
                                                  </div>
                                                  <div class="kt-notification__item-time">
                                                      19 hrs ago
                                                  </div>
                                              </div>
                                          </a>
                                          <a href="#" class="kt-notification__item">
                                              <div class="kt-notification__item-icon">
                                                  <i class="flaticon2-psd kt-font-success"></i>
                                              </div>
                                              <div class="kt-notification__item-details">
                                                  <div class="kt-notification__item-title">
                                                      New report has been received
                                                  </div>
                                                  <div class="kt-notification__item-time">
                                                      23 hrs ago
                                                  </div>
                                              </div>
                                          </a>
                                          <a href="#" class="kt-notification__item">
                                              <div class="kt-notification__item-icon">
                                                  <i class="flaticon-download-1 kt-font-danger"></i>
                                              </div>
                                              <div class="kt-notification__item-details">
                                                  <div class="kt-notification__item-title">
                                                      Finance report has been generated
                                                  </div>
                                                  <div class="kt-notification__item-time">
                                                      25 hrs ago
                                                  </div>
                                              </div>
                                          </a>
                                          <a href="#" class="kt-notification__item">
                                              <div class="kt-notification__item-icon">
                                                  <i class="flaticon-security kt-font-warning"></i>
                                              </div>
                                              <div class="kt-notification__item-details">
                                                  <div class="kt-notification__item-title">
                                                      New customer comment recieved
                                                  </div>
                                                  <div class="kt-notification__item-time">
                                                      2 days ago
                                                  </div>
                                              </div>
                                          </a>
                                          <a href="#" class="kt-notification__item">
                                              <div class="kt-notification__item-icon">
                                                  <i class="flaticon2-pie-chart kt-font-success"></i>
                                              </div>
                                              <div class="kt-notification__item-details">
                                                  <div class="kt-notification__item-title">
                                                      New customer is registered
                                                  </div>
                                                  <div class="kt-notification__item-time">
                                                      3 days ago
                                                  </div>
                                              </div>
                                          </a>
                                      </div>
                                  </div>
                                  <div class="tab-pane" id="topbar_notifications_logs" role="tabpanel">
                                      <div class="kt-grid kt-grid--ver" style="min-height: 200px;">
                                          <div class="kt-grid kt-grid--hor kt-grid__item kt-grid__item--fluid kt-grid__item--middle">
                                              <div class="kt-grid__item kt-grid__item--middle kt-align-center">
                                                  All caught up!
                                                  <br>No new notifications.
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </form>
                      </div>
                  </div>
                  <!--end: Notifications -->

                  <!--begin: Quick panel -->
                  <div class="kt-header__topbar-item kt-header__topbar-item--quick-panel kt-hidden" data-toggle="kt-tooltip" title="Quick panel" data-placement="left">
                      <div class="kt-header__topbar-wrapper">
                          <span class="kt-header__topbar-icon" id="kt_quick_panel_toggler_btn">

                              <!--<i class="flaticon2-cube-1"></i>-->
                              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon kt-svg-icon--danger">
                                  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                      <rect id="bound" x="0" y="0" width="24" height="24" />
                                      <rect id="Rectangle-7" fill="#000000" x="4" y="4" width="7" height="7" rx="1.5" />
                                      <path d="M5.5,13 L9.5,13 C10.3284271,13 11,13.6715729 11,14.5 L11,18.5 C11,19.3284271 10.3284271,20 9.5,20 L5.5,20 C4.67157288,20 4,19.3284271 4,18.5 L4,14.5 C4,13.6715729 4.67157288,13 5.5,13 Z M14.5,4 L18.5,4 C19.3284271,4 20,4.67157288 20,5.5 L20,9.5 C20,10.3284271 19.3284271,11 18.5,11 L14.5,11 C13.6715729,11 13,10.3284271 13,9.5 L13,5.5 C13,4.67157288 13.6715729,4 14.5,4 Z M14.5,13 L18.5,13 C19.3284271,13 20,13.6715729 20,14.5 L20,18.5 C20,19.3284271 19.3284271,20 18.5,20 L14.5,20 C13.6715729,20 13,19.3284271 13,18.5 L13,14.5 C13,13.6715729 13.6715729,13 14.5,13 Z" id="Combined-Shape" fill="#000000" opacity="0.3" />
                                  </g>
                              </svg> </span>
                      </div>
                  </div>
                  <!--end: Quick panel -->

                  <!--begin: User bar -->
                  <div class="kt-header__topbar-item kt-header__topbar-item--user">
                    <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="10px,10px" aria-expanded="false">
                        <span class="kt-header__topbar-welcome">Hi,</span>
                        <span class="kt-header__topbar-username">{{globals.currentUser.fullName}}</span>
                        <img class="kt-hidden" alt="Pic" src="./assets/media/users/300_21.jpg">

                        <!--use below badge element instead the user avatar to display username's first letter(remove kt-hidden class to display it) -->
                        <span class="kt-badge kt-badge--username kt-badge--unified-success kt-badge--lg kt-badge--rounded kt-badge--bold kt-hidden-">S</span>
                    </div>
                    <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-xl">
                        <!--begin: Head -->
                        <div class="kt-user-card kt-user-card--skin-dark kt-notification-item-padding-x" style="background-image: url(./assets/media/misc/bg-1.jpg)">
                            <div class="kt-user-card__avatar">
                                <img class="kt-hidden" alt="Pic" src="./assets/media/users/300_25.jpg" />

                                <!--use below badge element instead the user avatar to display username's first letter(remove kt-hidden class to display it) -->
                                <span class="kt-badge kt-badge--lg kt-badge--rounded kt-badge--bold kt-font-success">S</span>
                            </div>
                            <div class="kt-user-card__name">
                                {{globals.currentUser.fullName}}
                            </div>
                            <div class="kt-user-card__badge">
                                <!-- <span class="btn btn-success btn-sm btn-bold btn-font-md">23 messages</span> -->
                            </div>
                        </div>
                        <!--end: Head -->
                        <!--begin: Navigation -->
                        <div class="kt-notification">
                            <a href="#" class="kt-notification__item">
                                <div class="kt-notification__item-icon">
                                    <i class="flaticon2-calendar-3 kt-font-success"></i>
                                </div>
                                <div class="kt-notification__item-details">
                                    <div class="kt-notification__item-title kt-font-bold">
                                        My Profile
                                    </div>
                                    <div class="kt-notification__item-time">
                                        Account settings and more
                                    </div>
                                </div>
                            </a>
                            <div class="kt-notification__custom kt-space-between">
                                <a href="#" target="_blank" class="btn btn-label btn-label-brand btn-sm btn-bold">Sign Out</a>
                                <!-- <a href="#" target="_blank" class="btn btn-clean btn-sm btn-bold">Upgrade Plan</a> -->
                            </div>
                        </div>
                        <!--end: Navigation -->
                    </div>
                  </div>
                  <!--end: User bar -->
                </div>
                <!-- end:: Header Topbar -->
              </div>
            </div>
        </div>
        <!-- end:: Header -->
        <div class="kt-container  kt-grid__item kt-grid__item--fluid">
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
                <div class="kt-container kt-container--fluid kt-grid__item lt-grid__item--fluid">
                    <div class="row align items align-items-center">
                        <div class="col-md-12">
                            <div class="kt-portlet kt-portlet-dark">
                                <div class="kt-portlet__head">
                                    <div class="kt-portlet__head-label">
                                        <span class="kt-portlet__head-icon">
                                            <i class="flaticon2-graph"></i>
                                        </span>
                                        <h3 class="kt-portlet__head-title">
                                            Welcome {{globals.currentUser.fullName}},
                                        </h3>
                                    </div>
                                </div>
                                <div class="kt-portlet__body">
                                    <div class="lm-container">
                                        <!-- <div class="lm-card"> -->
                                        <div class="lm-card" *ngFor="let role of globals.currentUser.roles; index as i;">
                                            <div *ngIf="role==1">
                                                <div class="box box1">
                                                    <div class="content">
                                                        <h3>Administrator</h3>
                                                    </div>
                                                </div>
                                                <div class="box box2">
                                                    <div class="content">
                                                        <p>Lorem ipsum dolor sit amet 
                                                            consectetur adipisicing elit. 
                                                            Quas cum cumque minus iste veritatis provident at.</p>
                                                            <a [routerLink]="['/admin']">Visit</a>
                                                    </div>
                                                </div>
                                            </div>

                                            <div *ngIf="role==2">
                                                <div class="box box1">
                                                    <div class="content">
                                                        <h3>Land Registry</h3>
                                                    </div>
                                                </div>
                                                <div class="box box2">
                                                    <div class="content">
                                                        <p>Lorem ipsum dolor sit amet 
                                                            consectetur adipisicing elit. 
                                                            Quas cum cumque minus iste veritatis provident at.</p>
                                                            <a [routerLink]="['/lands']">Visit</a>
                                                    </div>
                                                </div>
                                            </div>

                                            <div *ngIf="role==3">
                                                <div class="box box1">
                                                    <div class="content">
                                                        <h3>Revenue Authority</h3>
                                                    </div>
                                                </div>
                                                <div class="box box2">
                                                    <div class="content">
                                                        <p>Lorem ipsum dolor sit amet 
                                                            consectetur adipisicing elit. 
                                                            Quas cum cumque minus iste veritatis provident at.</p>
                                                            <a [routerLink]="['/revenue']">Visit</a>
                                                    </div>
                                                </div>
                                            </div>

                                            <div *ngIf="role==4">
                                                <div class="box box1">
                                                    <div class="content">
                                                        <h3>Land Owner</h3>
                                                    </div>
                                                </div>
                                                <div class="box box2">
                                                    <div class="content">
                                                        <p>Lorem ipsum dolor sit amet 
                                                            consectetur adipisicing elit. 
                                                            Quas cum cumque minus iste veritatis provident at.</p>
                                                            <a [routerLink]="['/land-owner']">Visit</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
<!-- begin::Scrolltop -->
<div id="kt_scrolltop" class="kt-scrolltop">
  <i class="fa fa-arrow-up"></i>
</div>